<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arteria Studio - Inicio</title>
    <!-- CSS DE TAILWIND -->
    <link rel="stylesheet" href="../assets/css/tailwind.css">
    <!-- ROBOTO FONT LINK -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="h-screen bg-gray-dark relative font-roboto">
        <!-- NAVBAR -->
        <nav class="flex justify-center absolute top-0 z-10 w-full">
            <ul class="flex flex-row justify-center items-center w-full bg-gray- text-white text-opacity-75">
                <!-- Opción de Inicio -->
                <a href="#" class="mx-6 ml-60">
                    <div class="group flex flex-col items-end font-bold text-gray-600">
                        <p class="text-xs leading-1 group-hover:text-white">01</p>
                        <p class="text-base leading-none group-hover:text-white">Inicio</p>
                    </div>
                </a>
                <!-- Opción de Portafolio -->
                <a href="#" class="mx-6">
                    <div class="group flex flex-col items-end font-bold">
                        <p class="text-xs leading-1 group-hover:text-white">02</p>
                        <p class="text-base leading-none group-hover:text-white">Portafolio</p>
                    </div>
                </a>
                <!-- Opción de Nosotros -->
                <a href="#" class="mx-6">
                    <div class="group flex flex-col items-end font-bold">
                        <p class="text-xs leading-1 group-hover:text-white">03</p>
                        <p class="text-base leading-none group-hover:text-white">Nosotros</p>
                    </div>
                </a>
                <!-- Enlace hacía el inicio -->
                <a href="#" class="mx-6 py-6">
                    <img src="../assets/img/arteria_studio-logoWT.png" class="w-32" alt="Arteria Studio Logo">
                </a>
                <!-- Opción de Servicios -->
                <a href="#" class="mx-6">
                    <div class="group flex flex-col items-end font-bold">
                        <p class="text-xs leading-1 group-hover:text-white">03</p>
                        <p class="text-base leading-none group-hover:text-white">Servicios</p>
                    </div>
                </a>
                <!-- Opción de Tienda -->
                <a href="#" class="mx-6">
                    <div class="group flex flex-col items-end font-bold">
                        <p class="text-xs leading-1 group-hover:text-white">05</p>
                        <p class="text-base leading-none group-hover:text-white">Tienda</p>
                    </div>
                </a>
                <!-- Opción de Contácto -->
                <a href="#" class="mx-6">
                    <div class="group flex flex-col items-end font-bold">
                        <p class="text-xs leading-1 group-hover:text-white">06</p>
                        <p class="text-base leading-none group-hover:text-white">Contácto</p>
                    </div>
                </a>
                <!-- Botón para agendar citas -->
                <a href="#" class="ml-28">
                    <div class="bg-yellow-light rounded-md px-4 py-2 font-medium text-sm">
                        <p class="text-black tracking-wide">Agenta tu cita</p>
                    </div>
                </a>
            </ul>
        </nav>
        <!-- BACKGROUND VIDEO -->
        <video class="w-full h-screen object-cover absolute z-0" src="../assets/videos/background-video.mp4" autoplay muted loop ></video>

        <ul class="z-10 w-6 h-64 absolute top-30% right-30px">
            <li><a href="#"><img class="w-6 my-4" src="../assets/icons/whatsapp-icon.png" alt=""></a></li>
            <li><a href="#"><img class="w-6 my-4" src="../assets/icons/behance-icon.png" alt=""></a></li>
            <li><a href="#"><img class="w-6 my-4" src="../assets/icons/instagram-logo.png" alt=""></a></li>
            <li><a href="#"><img class="w-6 my-4" src="../assets/icons/facebook-icon.png" alt=""></a></li>
            <li><p class="text-white text-center text-xl">|</p></li>
            <li><p class="transform -rotate-90 bottom-0 my-14 text-white font-bold tracking-widest text-sm">Síguenos</p></li>
        </ul>
    </div>
</body>
</html>